## Use git LFS to track these files

# Landings data
data/raw/CONAPESCA_Avisos_2000-2019 filter=lfs diff=lfs merge=lfs -text
data/raw/datos_abiertos filter=lfs diff=lfs merge=lfs -text
data/raw/CONAPESCA filter=lfs diff=lfs merge=lfs -text
data/raw/CONAPESCA[[:space:]]Avisos[[:space:]]2000-2019.zip filter=lfs diff=lfs merge=lfs -text

data/raw/CONAPESCA_Avisos_2000-2019/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/CONAPESCA/*.xlsx filter=lfs diff=lfs merge=lfs -text
data/raw/CONAPESCA/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/datos_abiertos/*.csv filter=lfs diff=lfs merge=lfs -text

data/clean/*.rds filter=lfs diff=lfs merge=lfs -text

*.csv filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
